.main {
  margin-top: 55px;
  padding: 10px;
}

/********Table********/
img.photo {
  max-width: 300px;
}

table {
  width: 100%;
}

.line {
  border-bottom: black 1px solid;
}

thead {
  background-color: #718096;
  color: white;
}

.add_btn {
  width: 100px;
  margin: 10px 0 10px 0;
}

.selected {
  border-left: red 5px solid;
  border-right: red 5px solid;
  background-color: #cdcdcd;
}

.tile:hover {
  border-left: blue 3px solid;
  border-right: blue 3px solid;
  font-weight: bold;
}

.mySelect {
  margin: 15px;
}
