<div class="main">
  <div class="textBlock"><h1 class="text"><span class="word">Путешествие</span> — единственная вещь, покупая которую,
    становишься богаче</h1></div>
  <div class="slider" id="main-slider">
    <div class="slider-wrapper">
      <div class="slide" data-image="assets/t1.jpg"></div>
      <div class="slide" data-image="assets/t2.jpg"></div>
      <div class="slide" data-image="assets/t3.jpg"></div>
      <div class="slide" data-image="assets/t4.jpg"></div>
      <div class="slide" data-image="assets/t5.jpg"></div>
    </div>
    <div class="slider-nav">
      <button class="slider-previous">Previous</button>
      <button class="slider-next">Next</button>
    </div>
  </div>
</div>
<!--video src="css/video.mp4" width="100%" autoplay loop muted controls></video-->
